@charset "utf-8";

/*全局样式*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    border: none 0;
    vertical-align: middle;
}

body {
    font-family: "微软雅黑";
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.start_bg {
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(../img/yiy.jpg) no-repeat 50% 0 / cover;
}

#start {
    width: 336px;
    height: 96px;
    background: url(../img/start_btn_03.png) no-repeat;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -168px;
    cursor: pointer;
}

.set{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border:1px solid #fff;
    position: fixed;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 20px;
    right: 20px;
    transition:all 0.3s;
}

.set:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}

.countdown_bg,.set_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.set_box{
    width: 500px;
    background: #fff;
    padding:20px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: -webkit-translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.set_box td{
    padding:8px;
}
.set_box td input{
    display: block;
    width: 400px;
    line-height: 28px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
    padding:4px;
    font-size: 16px;
}
.set_box td textarea{
    display: block;
    width: 400px;
    line-height: 28px;
    border-radius: 3px;
    border: 1px solid #ddd;
    outline: none;
    padding:4px;
    font-size: 16px;
}
#countdown {
    display: block;
    width: 458px;
    height: 458px;
    background: url(../img/time_bg_03.png) no-repeat 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -229px;
    margin-top: -229px;
    text-align: center;
    line-height: 458px;
    font-size: 220px;
    color: #000;
    font-weight: bold;
}
.set_btn{
    text-align: center;
}
.set_btn span{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin:10px 5px;
    background: #FD544D;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.set_btn .set_cancel {
    background: #ccc;
}
.set_box i{
    display: block;
    width: 30px;
    height: 30px;
    float: right;
}

.ernie {
    width: 100%;
    height: 100%;
    background: url(../img/yj.jpg) no-repeat 50% 0 / cover;
    text-align: center;
}

.time_remain {
    width: 14.8vh;
    height: 15vh;
    text-align: center;
    line-height: 15vh;
    color: #fff;
    background: #333;
    border-radius: 1.4vh;
    margin: 0 auto;
    font-size: 10vh;
    position: relative;
    top: 6.3vh;
}

.gameover {
    width: 31vh;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    font-size: 5vh;
    margin: 0 auto;
    position: relative;
    top: 6.3vh;
    color: #EB1026;
}

.num {
    font-size: 4.0vh;
    color: #fff;
    margin-top: 13vh;
    font-family: 黑体;
    margin-bottom: 0.3vh;
}

.num span {
    font-size: 5vh;
    color: #f2bf08;
}

.result {
    width: 100vh;
    margin: 0 auto;
    background: #f2e7d1;
    border-radius: 0.9vh;
    padding: 0.9vh 5vh 0.9vh;
    max-width: 80%;
}

.result_table table {
    width: 100%;
}

.result_table tr th {
    font-size: 2.1vh;
    line-height: 3.5vh;
    background: #eac06d;
    height: 3.5vh;
}

.result_table tr td {
    font-size: 2.6vh;
    font-weight: bold;
    padding: 0.4vh 0;
    border-top: 0.3vh solid #f2e7d1;
    height: 5.2vh;
    box-sizing: border-box;
}

.result_table tr td:first-child {
    font-weight: normal;
}

.result_table tr td img {
    width: 5vh;
    height: 5vh;
}

.result_table tbody tr:nth-of-type(2n) {
    background: #eac06d;
}

.result_table tbody tr:nth-of-type(2n+1) {
    background: #f5efe4;
}

.result_table tr td .user {
    padding-right: 3.6vh;
}

.result_table tr td .has_winning {
    background: url(../img/hb.png) no-repeat 100% 50% / contain;
}

.test {
    width: 100px;
    height: 30px;
    background: #fff;
    position: fixed;
    top: 10px;
    left: 10px;
    line-height: 30px;
    text-align: center;
}

.pers {
    width: 200px;
    height: 30px;
    background: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    line-height: 30px;
    text-align: center;
}

@-webkit-keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes bounceIn {
    0%,
    100%,
    20%,
    40%,
    60%,
    80% {
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.countdown {
    -webkit-animation: bounceIn 1s ease 0s 6;
    animation: bounceIn 1s ease 0s 6;
}

.countdown2 {
    -webkit-animation: bounceIn 1s ease 0s 10;
    animation: bounceIn 1s ease 0s 10;
}

.wechart {
    width: 100vw;
    height: 100vh;
    background: #D61F57 url(../img/wx_03.jpg) no-repeat 50% 0 / 100% auto;
}

.wechart.active {
    background: #D61F57 url(../img/yiy.gif) no-repeat 50% 0 / 100% auto;
}

@media screen and (min-width: 480px) {
    .wechart {
        background: #D61F57 url(../img/wx_03.jpg) no-repeat 50% 0 / auto 100%;
    }
    .wechart.active {
        background: #D61F57 url(../img/yiy.gif) no-repeat 50% 0 / auto 100%;
    }
}

/*@media all and (orientation: landscape) {
    .wechart {
        width: 100vh;
        height: 100vw;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        position: fixed;
        top: 100%;
        background: #D61F57 url(../img/wx_03.jpg) no-repeat 50% 0 / 100% auto;
    }
    .wechart.active {
        background: #D61F57 url(../img/yiy.gif) no-repeat 50% 0 / 100% auto;
    }
}
*/
.shadowbox {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.prop_box {
    width: 184px;
    height: 222px;
    text-align: center;
    color: #ffc84a;
    background: url(../img/prop_03.png) no-repeat 50% 50% /contain;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -92px;
    margin-top: -111px;
}

.win .prop_box h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 80px;
}

.win .prop_box h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
}

.win .prop_box p {
    font-size: 12px;
}

.prop_box a {
    display: block;
    width: 120px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #dc4212;
    font-size: 13px;
    background: #fecf4b;
    margin: 12px auto 0;
    text-decoration: none;
    box-shadow: 1px 0px 1px #f7893c;
}

.close {
    display: block;
    position: absolute;
    right: 18px;
    top: 5px;
    display: block;
    width: 18px;
    height: 18px;
}

.lose .prop_box img {
    margin-top: 70px;
    margin-left: -10px;
    margin-bottom: 4px;
}

.lose .prop_box h3 {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3em;
    color: #fff000;
}

.rest .prop_box {
    background: #ee382b;
    width: 184px;
    height: 200px;
    border-radius: 3px;
    vertical-align: middle;
}

.rest .prop_box img {
    margin: 10px auto 26px;
}

.rest .prop_box p {
    display: inline-block;
    width: 160px;
    line-height: 1.5em;
    text-align: left;
    margin: 0 auto;
    color: #fff000;
    font-size: 14px;
}
